*{
	margin:0;
	padding:0;
}

*:focus {outline: none;}

body{
	width:400px;
	background:#fff;
	font-size:12px;
	color:#222;
	font-family:Arial, Helvetica, sans-serif;
	overflow-x:hidden;
}

#loading{
	margin: 20px 0;
	padding: 10px;
	width: 400px;
}

#loader{
	width:400px;
}

#header{
	margin:0 0 5px 0;
	width: 360px;
	font-weight:700
}

#headerLink{
	float:right;
	color:#999;
	background:#f1f1f1;
	margin-right:7px;
	padding:2px;
	-webkit-border-radius:2px;
	text-decoration:none
}

#headerLink:hover{
	float:right;
	color:#990000;
	background:#ffafaf;
	margin-right:7px;
	padding:2px;
	-webkit-border-radius:2px;
	text-decoration:none
}

#search-con {
	position: relative;
    height: 26px;
    width: 330px;
    border: 1px solid #CACACA;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#search-con input[type="text"] {
	font-size:110%;
	color:#555;
	width:98%;
	margin: 3px 0 0 5px;
	border:#fff 1px solid
}

#searchButton {
	border: 1px solid #CACACA;
    position: relative;
    cursor: pointer;
    right: -330px;
    top: -28px;
    width: 31px;
    height: 28px;
    text-indent:0;
    overflow: hidden;
    background: #E9E9E9 url(../images/searchbtn.png) -6px 50% no-repeat;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#searchButton:hover {
	background: #F2F2F2 url(../images/searchbtn.png) -46px 50% no-repeat;
    border: 1px solid #939393;
    text-decoration: none;
    z-index: 11;
}

#staticButton {
	font-size:110%;
	border:1px solid #ccc;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	padding:2px;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eee));
	border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#content{
	width:400px;
	padding:10px;
}

#results{
	width:360px;
	margin-bottom:10px;
	border-bottom:1px dotted #ccc;
}

#title a{
	color:#990000;
	font-weight:500;
	text-decoration:none;
	font-size:135%
}

#title a:hover{
	text-decoration:underline;
}

#authors{
	color:#008b00;
}

#metaLink a{
	text-decoration:none;
	color:#444;
}

#metaLink a:hover{
	text-decoration:underline;
}

#contentDeets{
	margin:10px 0 0 10px;
	padding:0 0 0 7px;
	border-left:2px solid #ddd;
}

#contentAbstract{
	margin-top:5px;
}


