#research-widget-container{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
}

#research-widget{
    background-color: #FDFDFD;
    border: 1px solid #BBB;
    border-radius: ;
    color: #313131;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 12px;
    margin: 0px;
    position: fixed;
    text-align: left;
    text-transform: none;
    top: 0%;
    width: 320px;
    -webkit-box-shadow: rgb(204, 204, 204) 0px 0px 5px;
    z-index: 2147483645;
}
